.details-containers {
    display:flex;
    justify-content:center;
}
.details-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.personal-details, .employment-details {
    border: 1px solid grey;
    width: 500px;
    margin: 20px;
    padding: 20px;
}

#detalii-personale {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.details-fields {
    font-size: 20px;
    text-align: center;
    height: 30px;
    float: right;
}

.select-options {
    width: 100px;
    float: right;
    font-size: 20px;
}

.acte-angajare {
    display:flex;
    flex-direction: row;
}

span {
    display: flex;
    width: 60px;
    height: 70px;
    flex-direction: column;
    border: 1px solid grey;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-right: -1px;
    margin-top: 5px;
}

.input-check {
    width: 20px;
}

#save-btn-details {
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 10px;
    background-color:  #a8efff;
}

#save-btn-details:hover {
    background-color:  #46ddff;
}